{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}
<div class="card">
    <h2 class="card-header">Friends</h5>
    <div class="card-body">

        <!--FRIENDS START HERE-->
        <div class="row">
            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                    <img src="" class="img-thumbnail w-25 d-inline" alt="pfp">
                    <h5 class="card-title w-auto d-inline">@friend1</h5>
                    </br>
                    <a href="#" class="btn btn-danger mt-2">Remove</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 py-2">
              <div class="card">
                <div class="card-body">
                    <img src="" class="img-thumbnail w-25 d-inline" alt="pfp">
                    <h5 class="card-title w-auto d-inline">@friend2</h5>
                    </br>
                    <a href="#" class="btn btn-danger mt-2">Remove</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 py-2">
                <div class="card">
                  <div class="card-body">
                    <img src="" class="img-thumbnail w-25 d-inline" alt="pfp">
                    <h5 class="card-title w-auto d-inline">@friend3</h5>
                    </br>
                    <a href="#" class="btn btn-danger mt-2">Remove</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 py-2">
                <div class="card">
                  <div class="card-body">
                    <img src="" class="img-thumbnail w-25 d-inline" alt="pfp">
                    <h5 class="card-title w-auto d-inline">@friend4</h5>
                    </br>
                    <a href="#" class="btn btn-danger mt-2">Remove</a>
                  </div>
                </div>
              </div>

          </div>
        <!--FRIENDS END HERE-->
      
    </div>
    <div class="card-footer">
        
        <form class="row g-3">
            <div class="col-auto">
              <p class="pt-2">Add a Friend:</p>
            </div>
            <div class="col-auto">
              <label for="inputUsername" class="visually-hidden">username</label>
              <input type="username" class="form-control" id="inputUsername" placeholder="username">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-secondary mb-3">+</button>
            </div>
          </form>

    </div>
  </div>
<h1>People You May Know</h1>
<ul class='all_users'>
  {% for user in allusers %} 
  {% if not user.is_superuser %} 
  {% if user not in request.user.friends.all and user != request.user and user.id not in my_requests and user.id not in my_pending %} 
  <li>
    {{ user }} 
    <a href="{% url 'send_friend_request' userID=user.id %}">send friend request</a>
  </li>
  
  {% endif %} 
  {% endif %}
  {% endfor %} 
</ul>
<h1>Sent Requests</h1>
<ul>
  {% for friend_request in all_friend_requests %}
  {% if friend_request.from_user.id == user.id %}
  {% if friend_request.to_user.id != user.id %}

  <li>
    {{ friend_request.to_user }} request sent.
  </li>

  {% endif %} 
  {% endif %} 
  {% endfor %}
</ul>
<h1>Friend Requests</h1>
<ul class="all_requests">
  {% for friend_request in all_friend_requests %}
  {% if friend_request.from_user.id != user.id %}
  {% if friend_request.to_user.id == user.id %}
  <li>
    {{ friend_request.from_user }}
    <a href="{% url 'accept_friend_request' requestID=friend_request.id %}">accept friend request</a>
  </li>
  {% endif %} 
  {% endif %} 
  {% endfor %} 
</ul>
<p>
  <h1>{{ user }}'s friends</h1>
</p>
<ul id="my_friends">
  {% for friend in my_friends %}
  <li>
    {{ friend }}
  </li>
  {% endfor %} 
</ul>
{% endblock %}
