
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<script>
    function copyShareLink(s) {
        var copyLink = document.getElementById(s);
        copyLink.select();
        copyLink.setSelectionRange(0, 99999);
        document.execCommand("copy");

    }
</script>
<form id="testform" method='post' action='{% url "newplaylist" %}'>
    {% csrf_token %}
    Description: {{ form.playlistdescription }}


    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
</form>


{% for playlist in displayedplaylists %}

    {% csrf_token %}
    <a class="btn btn-outline-secondary m-3" href="{{ playlist }}/"> {{ playlist }} </a>
    <a class="btn btn-outline-secondary m-3" href="remove/{{ playlist }}/"> remove </a>
    <button onclick="copyShareLink('{{ playlist }}')">Copy Share Link</button>
    <input type="text" value="localhost:8000/playlists/playlists/copyNewPlaylist/{{ playlist }}/{{ userid }}/" id="{{ playlist }}" readonly><br>

{% endfor %}


{% endblock %}
