{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<form method = 'post' action = '{% url "changeUsername" %}'>
	{% csrf_token %}
	<br>
	Change username: {{ form.newUser }}
	<button class="btn btn-primary btn-lg" type="submit">Apply</button>
</form>
<br>
<form method = 'post' action = '{% url "darkMode" %}'>
	{% csrf_token %}
	<button class="btn btn-primary btn-lg" type="submit">Toggle Darkmode</button>
</form>
<br>
<form method = 'post' action = '{% url "resetRec" %}'>
	{% csrf_token %}
	<button class="btn btn-primary btn-lg" type="submit">Reset Recommendation</button>
</form>

{% endblock %}
