{% extends 'base.html' %}

{% block title %} Advanced Search {% endblock %}

{% block content %}
<form method='post' action="/recommender/advanced-results/">
    {% csrf_token %}
    <br>
    <center>
        <h2>Advanced Search</h2>
    </center>
    <br>
    <div>
        Song: {{ form.song }}
    </div>
    <br>
    <div>
        Artist: {{ form.artist }}
    </div>
    <br>
    <div>
        Album: {{ form.album }}
    </div>
    <br>
    <div>
        From Year: {{ form.from_year }}
    </div>
    <br>
    <div>
        To Year: {{ form.to_year }}
    </div>
    <br>
    <div>
        Number of Songs to Show: {{ form.number_of_songs }}
    </div>
    <br>

    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>
<br>

{% if albums %}
<table class="table">
<tbody>
<tr>


{% for album in albums %}

<td>
<iframe src="https://open.spotify.com/embed/track/{{ album.track_id }}" width="300" height="380" 
frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</td>

{% endfor %}

</tr>
</tbody>
</table>

{% endif %}

{% endblock %}
