{% extends 'base.html' %}

{% block title %}Recommendations{% endblock %}

{% block content %}

<h1> Heres Some Songs you might like: </h1>

<table>
		<tr>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.0}}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.1 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.2 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
		</tr>
		<tr>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.3 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.4 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.5 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
		</tr>
		<tr>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.6 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.7 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
			<td>
				<iframe src="https://open.spotify.com/embed/track/{{ songids.8 }}" width="300" height="380" 
				frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</td>
		</tr>
</table>

{% endblock%}
